font-face {
    font-family: "syn-nova";
    src: url("SYNNova-Regular.otf")
}
img.Icon_pic{
    width: 30px;
    height: 30px; 
    margin-left: 10px; 
   }
img.Icon_pic:hover{
    background-color:gray;
   }
img.header_image{
 width: 500px;
 border-radius: 70px;
 float: left;
 margin-right: 50px;
}
p.Intro {
 font-weight: bold;
 color:black; 
 background-color: lightblue;
 font-family: "syn-nova";
}
div.category {
    display:inline-block;
    height: 150px;
    width: 150px;
    font-weight: bold;
    color:grey; 
}
h3 {
    font-weight: bold;
    color:blue;
}
h1 {
 margin-left: 15px;
}